*{
    padding: 0%;
    margin: 0%;
}
#header{
    text-align: center;
}
#header img{
    margin: 0 auto;
}
#navigation{
    background-image: url("../imgae/good.png");
    background-repeat:repeat-x;
    background-position: bottom right;
    border-width:.1em;
    border-style:solid;
    border-bottom-width: 0ch;
    border-top-width: 0;
    padding-left:0px;
    padding-right:0px;
    text-align: center;
}
#navigation ul{
    width: 100%;
    overflow:hidden;
    border-left-width:.1em;
    border-left-style:solid;
    margin-left: auto;
    margin-right: auto;
}
#navigation li{
    display: inline;
}
#navigation li a{
    display: block;
    float: left;
    padding:.5em 2em;
    border-right:.1em solid;
    margin-left:0;
    margin-right: 0%;
    padding-left:0;
    padding-right: 0%;
}
#flex{
    display: flex;
    flex-direction:row;
}
#content{
    border-width:.1em;
    border-style:solid;
    border-top-width:0;
    padding:2em 10%;
    line-height: 1.8em;
    margin-left:auto;
    margin-right: auto;
    padding-left:0;
    padding-right: 0%;
    
}
#section{
    font-family:"Helvetica Neue", Helvetica, Arial, "PingFang SC", 
    "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; 
    font-style: italic;
    margin-left:auto;
    margin-right: auto;
    padding-left:0;
    padding-right: 0%;
    width: 80%;
}